body {
    background-color: steelblue;
    margin-top: 2vh;
}

#dash {
    background-color: #F5EBE2;
}
h2 {
    margin: 4 auto;
    text-shadow: oldlace;
    text-decoration: overline;
    text-decoration-style: solid;
}

.parallax {
    background-image: url("./calvin&hobbes.jpg");
    height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    margin-top: 30vh;
  }
